USE [master]
GO
/****** Object:  Database [ListaPresenca]    Script Date: 12/03/2016 13:45:50 ******/
CREATE DATABASE [ListaPresenca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ListaPresenca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ListaPresenca.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ListaPresenca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ListaPresenca_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ListaPresenca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ListaPresenca]
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 12/03/2016 13:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aluno](
	[CODIGO_ALUNO] [int] NOT NULL,
	[NOME_ALUNO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AlunoTurma]    Script Date: 12/03/2016 13:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlunoTurma](
	[SEQ_DISCIPLINA_TURMA] [int] NOT NULL,
	[CODIGO_ALUNO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SEQ_DISCIPLINA_TURMA] ASC,
	[CODIGO_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Datahora]    Script Date: 12/03/2016 13:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datahora](
	[DIA] [int] NOT NULL,
	[HORA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DIA] ASC,
	[HORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Disciplina]    Script Date: 12/03/2016 13:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Disciplina](
	[CODIGO_DISCIPLINA] [int] NOT NULL,
	[NOME_DISCIPLINA] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_DISCIPLINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DisciplinaTurma]    Script Date: 12/03/2016 13:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DisciplinaTurma](
	[SEQ_DISCIPLINA_TURMA] [int] NOT NULL,
	[CODIGO_DISCIPLINA] [int] NULL,
	[CODIGO_TURMA] [varchar](6) NULL,
	[CODIGO_SEMESTRE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SEQ_DISCIPLINA_TURMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Semestre]    Script Date: 12/03/2016 13:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semestre](
	[CODIGO_SEMESTRE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_SEMESTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Turma]    Script Date: 12/03/2016 13:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Turma](
	[CODIGO_TURMA] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_TURMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TurmaHora]    Script Date: 12/03/2016 13:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurmaHora](
	[SEQ_DISCIPLINA_TURMA] [int] NOT NULL,
	[DIA] [int] NOT NULL,
	[HORA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SEQ_DISCIPLINA_TURMA] ASC,
	[DIA] ASC,
	[HORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AlunoTurma]  WITH CHECK ADD FOREIGN KEY([CODIGO_ALUNO])
REFERENCES [dbo].[Aluno] ([CODIGO_ALUNO])
GO
ALTER TABLE [dbo].[AlunoTurma]  WITH CHECK ADD FOREIGN KEY([SEQ_DISCIPLINA_TURMA])
REFERENCES [dbo].[DisciplinaTurma] ([SEQ_DISCIPLINA_TURMA])
GO
ALTER TABLE [dbo].[DisciplinaTurma]  WITH CHECK ADD FOREIGN KEY([CODIGO_DISCIPLINA])
REFERENCES [dbo].[Disciplina] ([CODIGO_DISCIPLINA])
GO
ALTER TABLE [dbo].[DisciplinaTurma]  WITH CHECK ADD FOREIGN KEY([CODIGO_TURMA])
REFERENCES [dbo].[Turma] ([CODIGO_TURMA])
GO
ALTER TABLE [dbo].[DisciplinaTurma]  WITH CHECK ADD FOREIGN KEY([CODIGO_SEMESTRE])
REFERENCES [dbo].[Semestre] ([CODIGO_SEMESTRE])
GO
ALTER TABLE [dbo].[TurmaHora]  WITH CHECK ADD FOREIGN KEY([DIA], [HORA])
REFERENCES [dbo].[Datahora] ([DIA], [HORA])
GO
ALTER TABLE [dbo].[TurmaHora]  WITH CHECK ADD FOREIGN KEY([SEQ_DISCIPLINA_TURMA])
REFERENCES [dbo].[DisciplinaTurma] ([SEQ_DISCIPLINA_TURMA])
GO
USE [master]
GO
